.container-bmi {
    display: flex;
    flex-direction: column;
    background: linear-gradient(290.1deg, #D6E6FE 0%, rgba(214, 252, 254, 0) 100%);
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    /* height: calc(100vh - 50vw); */
    height: 750px;
    width: 100%;
    text-align: center;
    padding: 1em 1.5em;
    /* margin-bottom: 80%; */
}

.container-bmi h1 {
    font-size: 2.65em;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.75);
    word-spacing: 2px;
}

.container-bmi img {
    height: 40px;
    width: 40px;
    margin: 1em auto;
}

.container-bmi p {
    margin: 2em auto;
    max-width: 550px;
}

.bmi__calculo {
    background-color: #ffffff;
    box-shadow: 16px 32px 56px 0 hsla(211, 40%, 69%, 25%);
    border-radius: 15px;
    margin: 0 1.5em;
    padding: 1.5em 1.5em;
    /* position: absolute;
    bottom: calc(-25vh - 5vw); */
    width: auto;
    margin-top: calc(30vw - 90%);
}   

.bmi__calculo h2 {
    font-size: 1.5em;
    margin-bottom: 1.5em;
    font-weight: 700;
}
.altura, .peso {
    display: flex;
    padding: 1.5em;
    border: 0.1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 1em 0;
    align-items: center;
}

.altura span, .peso span {
    font-size: 1.8em;
    font-weight: 700;
    color: #3660f7;
}

.altura input, .peso input {
    display: flex;
    align-items: center;
    border: none;
    width: 100%;
    height: 37px;
    font-size: 3em;
    font-weight: 700;
    opacity: 0.7;
    
}

.altura input::placeholder, .peso input::placeholder {
    font-size: 1em;
    font-weight: 700;
    align-items: center;
}

.altura input:focus, .peso input:focus {
    outline: none;
}

.resultado__invalido {
    color: #e45d5d;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.bmi__resultado {
    color: #ffffff;
    padding: 2em;
    background: linear-gradient(to right, #3660f7, hsl(227, 92%, 67%));
    border-radius: 30px;
}

.bmi__resultado h3 {
    font-size: 1.8em;
    font-weight: 700;
}

.bmi__resultado p {
    color: #ffffff;
    font-size: 1em;
}

.bmi__resultado p:nth-child(2) {
    font-size: 3em;
    font-weight: 700;
    margin: 0.5em 0;
}

/*TEXTOS DO SITE*/

.container__sobre {
    margin-top: 15%;
}

.container__sobre, .container__sobre img {
    width: 100%;
}

.container__sobre h2 {
    margin: 1.3em 0;
    font-size: 2em;
    font-weight: 700;
}

.container__sobre__texto{
    padding: 0 1.5em 4em 1.5em;
}

/*DICAS*/

.container__dicas {
    background: linear-gradient(to bottom, hsla(216, 95%, 92%, 30%), hsla(216, 95%, 92%, 0.05));
    width: 100%;
    padding: 3em 1.5em;
}

.dicas__card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2em;
}

.dicas__card h3 {
    font-size: 1.5em;
    font-weight: 700;
}

.dicas__card img {
    margin-top: 3em;
}
/*LIMITACOES DO IMC*/

.container__bmi__limitacoes{
    text-align: center;
    padding: 0 1.5em;
}

.container__bmi__limitacoes h2 {
    font-weight: 700;
    font-size: 1.8em;
    margin: 2em 0 1em 0;
}

/*CARDS DE INFORMACOES*/

.container__informacoes {
    margin: 4em 1.5em;
}

.informacoes__cards {
    box-shadow: 15px 3px 46px 0 hsla(211, 40%, 69%, 25%);
    border-radius: 15px; 
    padding: 1em;
    margin: 2em 0;
}

.card__icon {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-bottom: 0.5em;
}

.card__icon h3 {
    font-weight: 700;
}

.informacoes__cards p {
    font-size: 1em;
line-height: 1.3em;
}

.container-curva-left {
    display: none;
}

.container-curva-right {
    display: none;
}


@media screen and (min-width: 590px) {
    .calculo__medidas {
        display: flex;
        gap: 5%;
    }

    .bmi__calculo {
        margin: calc(50vw - 90%) auto 0 auto;
        max-width: 550px;
    }

    .container-bmi p {
        margin: 2em auto;
        max-width: 550px;
    }
    .container__sobre, .container__dicas, .container__bmi__limitacoes, .container__informacoes {
        margin-left: auto;
        margin-right: auto;
        max-width: 550px;
    }
}